*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* global values */
:root {
  --primaryColor: #09009f;
  --color02: #00ff95;
  --color03: #ffbd35;
  --color04: #3fa796;
  --color05: #35589a;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app .empty-page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 2rem;
  font-weight: 300;
  color: #35589a;
  text-align: center;
  transition: 0.3s all ease;
}

.app .empty-page p {
  width: 90%;
  margin: 0 auto;
  font-style: italic;
}

@media screen and (max-width: 450px) {
  .app .empty-page {
    width: 300px;
  }

  .app .empty-page p {
    width: 90%;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.overlay-active {
  pointer-events: all;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.bullet {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #3fa796;
  opacity: 0.7;
  margin: 5px;
  animation-name: bullet;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.loading span:first-of-type {
  background-color: #3fa796;
  animation-duration: 2s;
}
.loading span:nth-of-type(2) {
  background-color: #ffbd35;
  animation-duration: 1s;
}
.loading span:nth-of-type(3) {
  background-color: #35589a;
  animation-duration: 2s;
}

@keyframes bullet {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
